// Fonts variable
$fontFamily: "Lato";
// Hader bg footer bg
$HeaderBg: #313030;
// Link bg
$LinkBg:#ff3f40;
// Link bg hover
$LinkBgHover:rgb(252, 2, 2);
// Link Header color
$LinkHeaderColor:#e0e0e0;
// Text color
$TextColor: #a0a0a0;
